@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Confirma apagar?</h1>
<div id="div1" ng-app="talentoApp" ng-controller="formController">
    <h2>{{talento.nome}}</h2>
    <br />
    <input type="button" class="btn" value="SIM" onclick="apaga(GetURLParameter(), '/Form/List');" />
    <input type="button" class="btn" value="NÃO" onclick="window.location='/Form/List'" />
</div>

<script src="~/js/talento.js"></script>

<script>
    angular.element(div1).ready(function () {
        // Your function that runs after all DOM is loaded
        window.carrega(GetURLParameter());
    });

</script>