@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="~/js/talento/app.js"></script>
<script src="~/js/talento/AskToDelete.js"></script>

<body class="disable-selection">
    <div class="container body-content" ng-app="talentoApp" ng-controller="askToDeleteController" ng-init="carrega(GetURLParameter())">

        <h1>Confirma apagar?</h1>

        <h2>{{talento.nome}}</h2>
        <br />
        <input type="button" class="btn" value="SIM" ng-click="apaga(GetURLParameter(), '/Form/List');" />
        <input type="button" class="btn" value="NÃO" ng-click="gotourl('/Form/List');" />
    </div>
</body>