@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="disable-selection">

    <div class="container body-content">
        <h1>Pronto!</h1>
        <br />
        <h2>Obrigado por ter enviado seu cadastro</h2>
        <br />
        <div style="text-align:left">
            <a href="/" class="btn btn-default">Voltar ao Início</a>
        </div>
    </div>

</body>