@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script src="~/js/talento/app.js"></script>
<script src="~/js/talento/List.js"></script>

<body class="disable-selection">
    <div class="container body-content" ng-app="talentoApp">
            <h1>Easycomtec</h1>
            <h2>Listagem do Cadastro de Talentos</h2>

            <div ng-controller="listController" ng-init="carregatodos()">

                <h1>Listagem</h1>

                <ul ng-repeat="talento in talentos">
                    <li>
                        <a href="/Form/Edit/{{talento.id_Talento}}" class="btn btn-default" onclick="">Editar</a>
                        <a href="/Form/AskToDelete/{{talento.id_Talento}}" class="btn btn-danger">Excluir</a>
                        <b>{{talento.nome}}</b>
                        <b>{{talento.email}}</b>
                        <b>{{talento.telefone}}</b>
                    </li>
                </ul>
                <br />
                <div style="text-align:left">
                    <a href="/" class="btn btn-default">Voltar ao Início</a>
                    @*<a href="/Form/New" class="btn btn-default">Novo</a>*@
                </div>
            </div>
        </div>
</body>