@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body class="disable-selection">
    <div class="container body-content">

        @*<script src="~/js/talento/app.js"></script>
        <script src="~/js/talento/New.js"></script>*@

        <h1>Novo</h1>
        <div>
        </div>
    </div>
</body>
<script>

    window.location = '/Form/Edit/';

</script>
