@{
    ViewData["Title"] = "Home Page";
}
<script>
    //window.location = "/Form/New";
</script>

<body class="disable-selection">
    <div class="container body-content">

            <h1>Bem vindo</h1>

            <h2><a href="/Form/New">Cadastro de Talento</a></h2>
            <br />

            <h2><a href="/Form/List">Listagem (Criar, Editar, Salvar, Excluir) </a></h2>
            <br />

    </div>
</body>